name: Deploy Automático a AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v2

    - name: Conectarse al servidor y actualizar
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd ~/Plataforma_agentes
          git checkout .
          git clean -fd
          git pull origin main
          docker compose down
          docker volume rm plataforma_agentes_build_volume || true
          docker compose up -d --build
